.upper__title{
    font-size: 60px;
}

.upper__profilePic{
    text-align: end;
}

.upper__profilePic img{
    width: 210px;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .upper__title{
        font-size: 50px;
    }

    .upper__profilePic img{
        width: 190px;
    }

    .upper__order{
        flex-direction: column-reverse;
    }
}